<% 
var articles = public.articles._contents
for (var i = articles.length - 1; i > articles.length - maxarticles && i >= 0; --i )
{ var a = articles [ i ].match(/^(.*)\.html$/)[ 1 ]
var article = public.articles._data [ a ]
%>
<article class="thumb">
  <a href="/images/fulls/01.jpg" class="image"><img src="/images/thumbs/01.jpg" alt="" /></a>
  <h2><%= article.title %></h2>
  <p><%- article.description %></p>
</article>
<% } %>
