
#main {
  .article {
    min-width: 356px;
    max-width: 600px;
    width: 95%;

    margin: 10% auto;
    border: 2px solid #333;
    background: #222;
    position: relative;

    .icon {
      position:absolute;
      top: 1px;
      right: 6px;
    }

		> .closer {
			@include vendor('transition', 'opacity #{_duration(transition)} ease-in-out');
			background-image: url('images/close.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: 3em;
			cursor: pointer;
			opacity: 0.25;
      float:right;
			right: 0;
			top: 0;
			height: 3em;
			width:  3em;
			z-index: 2;
      margin-top: 20px;
      margin-right: 20px;
      border-bottom: 0;

			&:hover {
				opacity: 1.0;
			}
		}

    h1 {
      margin:20px 0 20px 20px;
    }

    p {
      padding: 0px 20px;
    }

    p:first-child {
      margin-top: 3em;
    }

    p:last-child {
      margin-bottom: 3em;
    }

    ul li {
      margin-left: 3em;
      padding-left: 0;
    }
  }

  .full {
    
    h1 { display: none }

    .closer { display: none; }

  }

}
